/*======================================
                HOMEPAGE
========================================
 */

 /* ==================
     The carousel
======================
 */
.carousel img{
    width: 100%;
    height: 88vh;
}

.carousel-inner{
    position: relative;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color:#ece1e1;
}
.carousel-caption h1{
    text-transform: uppercase;
    margin-bottom: 20px;
    border: 1px solid none;
}
.carousel-caption h1::after{
    display: block;
    border: 1px solid #d2691e;
    content: "";
    height: 2px;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.carousel-caption p{
    font-size: 18px;
    margin-bottom: 50px;

}
.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000000b3;
}

/*================================
Logo image
==================================
*/
.logo{
    width: 10vh;
    margin-left: 200px;
}
.logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navbar{
    background-color:#000;
}
.navbar-collapse li{
    text-align: center;
}

/*================================
The Columns part
==================================
*/
.columns h1{
    margin: 30px 0;
    text-align: center;
    padding-bottom: 8px;
}
.columns h1::after{
    display: block;
    border: 1px solid #d2691e;
    content: "";
    height: 2px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}
.columns h3{
    font-size: 20px;
    font-size: 400;
    text-align: center;
    margin-top: 15px;
}
.row{
    margin: 60px 0;
}
.col-sm p,
.col-sm h1{
    margin-top: 20px;
    text-align: center;
}

.overlay1{
    position: relative;
    
}

.overlay1 p{
    text-align:center;
    font-size: 15px;
    overflow:hidden;
}
.overlay1 img{
    width: 100%;
    border-radius: 2px;
    transform: scale(1.00);
    transition: 0.7s;
    filter: brightness(50%);
}
.overlay1 img:hover{
    transform: scale(1.08);
    transition: 0.7s;
    filter: blur(2px);
    filter:brightness(40%);
}

.overlay1 p{
    position: absolute;
    text-align: center;
    color:#ece1e1;
    top: 40px;
    width: 80%;
    height: 50%;
    left: 40px;
    transition: 0.7s;
    padding-top: 12px;
}
.overlay1 p:hover{
    transform: scale(1.1);
    transition: 0.7s;
    filter: brightness(40%);
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 20px;
    color:#ece1e1;
}

/*================================
The Footer
==================================
*/
footer{
    background-image:linear-gradient(rgba(0, 0, 0, 0.705), #000), url(vendor/images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    margin-bottom: 0;
    color: #c0c0c0;
}

.copyright{
    display: inline-block;
    width: 45%;
    font-size: 14px;
    font-style: italic;
    margin-top: 70px;
}
.socials{
    width: 50%;
    display: inline-block;
    text-decoration: none;
}
.socials li{
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    margin-left:2px;
}
.socials a{
    display: block;
}
.foot{
    margin-top: 50px;
}

/*
===========================================================
            About page
===========================================================
*/
.aboutlogo{
    width: 25%;
    margin: 20px auto;
    border-radius: 6px;
    

}
.aboutlogo img{
    width: 100%;
    border-radius: 6px;
}

.academy h1{
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}
.academy h1:after{
    height: 2px;
    content: "";
    border-bottom:2px solid #d2691e;
    width:50%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.academy p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
}
.col-sm-3 img{
    border-radius: 6px;
    margin-top: 20px;
}
.col-sm-9{
    text-align: center;
    color:#ece1e1;
}

.bgnd{
    background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.829)), url(vendor/images/ipad-605439_1920.jpg);
    padding: 40px;
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
}
.bgrd2{
    color: #000;
    padding: 40px;
    margin-bottom: 50px;
}
.whotop img{
    width: 100%;
    height: 200px;
    border-radius: 12px;
}
.col-sm-8 li{
    line-height:36px;
}

h3{
    text-align: center;
}
.academy3{
    background:linear-gradient(rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.842)), url(vendor/images/ipod.jpg);
    background-size: cover;
    background-position: center;
    color:#ece1e1;

}
.academy3 h1{
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}
.academy3 h5{
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}
.academy3 h1:after{
    height: 2px;
    content: "";
    border-bottom:2px solid #d2691e;
    width:50%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.academy3 p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
}
.intrumentalist h2, .singers h2{ 
    text-align: center;
    border-radius: 12px;
   
    
}
.intrumentalist h2::after, .singers h2:after{
    display: block;
    border: 1px solid #d2691e;
    content: "";
    height: 2px;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}
/*
===========================================================
            Contact page
===========================================================
*/

.academy2 h1{
    font-size: 32px;
    text-align: center;
    margin-top: 120px;
}
.academy2 h1:after{
    height: 2px;
    content: "";
    border-bottom:2px solid #d2691e;
    width:50%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.academy2 p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
}

legend h2{
    text-align: center;
    font: 22px/1.4 "lato";
    color:#ece1e1;
    padding-top: 40px;
}
legend h1{
    text-align: center;
    font: 22px/1.4 "lato";
    color:#ece1e1;
    padding-top: 40px;
}

legend h2::after{
    display: block;
    border: 1px solid #d2691e;
    content: "";
    height: 2px;
    width: 300px;
    margin: 0 auto;
    margin-top: 5px;
}
form{
    background:linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.836)), url(vendor/images/music1.jpg);
    margin: 80px 0 80px 0;
    border-radius: 10px;
    height: 300px;
    background-position: center;
    background-size: cover;
}
fieldset{
    display: block;
    margin-top:20px ;
}
fieldset p{
    text-align: center;
    color:#ece1e1;
}

/*
===========================================================
            Media Queries
===========================================================
*/

@media(max-width:650px){
    
    .carousel-caption{
        position: absolute;
        top: 45%;
        transform: translate(0, -50%);
        color:#ece1e1;
    }
    .carousel-caption h1{
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .carousel-caption h1::after{
        display: block;
        border: 1px solid #d2691e;
        content: "";
        height: 2px;
        width: 200px;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    .carousel-caption p{
        font-size: 16px;
        margin-bottom: 50px;
    
    }
    fieldset{
        display: block;
    }
    footer{
        display: block;
    }

@media(max-width:480px){
    
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color:#ece1e1;
}
.carousel-caption h1{
    text-transform: uppercase;
    margin-bottom: 20px;
    border: 1px solid none;
    font-size: 24px;
}

.carousel-caption p{
    font-size: 16px;
    margin-bottom: 50px;
}
.columns h1::after{
    display: block;
    border: 1px solid #d2691e;
    content: "";
    height: 2px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
fieldset{
    display: block;
    margin:0 auto
}
footer div{
    display: block;
}
.socials {
    margin-top:60px;
    width: 30%;
}
